#### <font color=#0fb503>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</font>

# Peer-graded assigment about tools for data science

#### <font color=#0fb503>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</font>
## Introduction

Welcome to this Jupyter Notebook! In this notebook, we will be exploring various programming concepts in Python, including data analysis, visualization, and machine learning.

Whether you're new to programming or an experienced developer, this notebook will provide you with hands-on experience writing Python code in a Jupyter Notebook environment.

We'll start with the basics of Python programming, including variables, data types, and control structures, and gradually build up to more advanced topics such as machine learning algorithms and model evaluation.

So sit back, relax, and get ready to dive into the exciting world of Python programming!

#### <font color=#0fb503>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</font>
List data science languages: 
1. Python
2. SQL (Structured Query Language)
3. R 
4. Julia
5. C++
6. Scala
7. Java

#### <font color=#0fb503>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</font>
Top 10 Python Libraries for Data Science:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. BeautifulSoup

#### <font color=#0fb503>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</font>
Index |Category|Data Science Tool
:-----|:-----| :----- 
1.|Data Management|MySQL
2.|Data Management|MongoDB
3.|Data Management|Hadoop
4.|Data Management|PostgreSQL
5.|Data Integration and Transformation|Apache Airflow
6.|Data Integration and Transformation|Apache kafka
7.|Data Integration and Transformation|Spark
8.|Data Integration and Transformation|Kubeflow
9.|Data Visualization|Hue
10.|Data Visualization|Kibana
11.|Data Visualization|Superset
12.|Data Visualization|Power BI
13.|Data Visualization|Tableau
14.|Data Visualization|Qlik
15.|Model Deployment|PredicitionIO
16.|Model Deployment|Seldon
17.|Model Deployment|TensorFlow
18.|Model Monitoring and Assessment|ModelDB
19.|Model Monitoring and Assessment|Prometheus
20.|Model Monitoring and Assessment|IBM AI Explainability 360
21.|Code Asset Management|Github
22.|Code Asset Management|Git
23.|Code Asset Management|Bitbucket
24.|Code Asset Management|GitLab
25.|Data Asset Management|Apache Atlas
26.|Data Asset Management|Kylo
27.|Data Integretion and Transformation|Talend
28.|Data Integretion and Transformation|Informatica
29.|Data Integretion and Transformation|IBM InfoSphere DataStage
30.|Model Building|SPSS
31.|Model Building|SAS

#### <font color=#0fb503>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</font>

In [3]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

#### <font color=#0fb503>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</font>

In [4]:
a = 5
b = 10
c = 2

# Multiplication
result_mult = a * b * c
print("Result of multiplication:", result_mult)

# Addition
result_add = a + b + c
print("Result of addition:", result_add)

Result of multiplication: 100
Result of addition: 17

#### <font color=#0fb503>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</font>

In [5]:
minutes = 120

hours = minutes / 60

print(minutes, "minutes is equal to", hours, "hours")

120 minutes is equal to 2.0 hours

#### <font color=#0fb503>Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)</font>

- Learn how to use Jupyter Notebook
- Understand basic programming concepts in Python
- Practice writing Python code in Jupyter Notebook
- Explore data analysis techniques in Python
- Create visualizations using Python libraries such as Matplotlib
- Gain familiarity with machine learning concepts and techniques
- Apply machine learning algorithms to real-world datasets
- Evaluate and interpret machine learning model results
- Share and collaborate on Jupyter Notebook projects with others.

#### <font color=#0fb503>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)</font>

Author: Krzysztof B.

#### <font color=#0fb503>Exercise 12 - Share your notebook through GitHub </font>

#### <font color=#0fb503>Exercise 13 - Take a screenshot of the first page of the notebook.</font>