In [7]:
library(dplyr)
library(data.table)

Dołączanie pakietu: 'data.table'


Następujące obiekty zostały zakryte z 'package:dplyr':

    between, first, last

In [8]:
carSpeeds <- fread(file = 'data/username.csv' )

In [9]:
head(carSpeeds)

  Username  Identifier First name Last name
1 booker12  9012       Rachel     Booker
2 grey07    2070       Laura      Grey
3 johnson81 4081       Craig      Johnson
4 jenkins46 9346       Mary       Jenkins
5 smith79   5079       Jamie      Smith