<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Final Project: Advance SQL Techniques</font></h1>

![title](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [10]:
import ibm_db
import pandas
import ibm_db_dbi

In [11]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [4]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
## add credentials

In [14]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  byx91326 on host:  21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [12]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

C:\Users\bilsk\AppData\Local\Temp\ipykernel_19856\2373382735.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pdf = pandas.read_sql(selectQuery, pconn)

'Ahuja'

In [16]:
ibm_db.close(conn)

Exception: Connection is not active

# Exercise 1 - Joins

## Question 1-1 
Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

## Question 2-2
Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

![title](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Exercise 2 - Creating view

## Question 2-1 
Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

Write and execute a SQL statement that returns all of the columns from the view.

Write and execute a SQL statement that returns just the school name and leaders rating from the view.

![title](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Exercise 3 - Creating a Stored Procedure

## Question 3-1 
Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Donâ€™t forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

## Question 3-2 
Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

## Question 3-3 
Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

## Question 4-3 
Run your code to create the stored procedure.<br>
Take a screenshot showing the SQL query and its results.<br>
Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

![title](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Exercise 4 - Using Transacions

## Question 4-1 
Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

## Question 4-2 
Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.<br>
Run your code to replace the stored procedure.<br>
Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.<br>
Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.<br>